.gendiv

  %h1
    = album.displayName

  :if album.text
    %p
      = album.text


%ul.gallery
  :each picture in album.pictures
    %li
      :if picture.comments
        .thumb.album.commented
          .thumb-pic
            %a{ href: picture.url }
              %img{ alt: picture.displayName, src: picture.thumbnail, title: picture.displayName }/
          .thumb-name
            = picture.displayName
      :if !picture.comments
        .thumb.album
          .thumb-pic
            %a{ href: picture.url }
              %img{ alt: picture.displayName, src: picture.thumbnail, title: picture.displayName }/
          .thumb-name
            = picture.displayName

.clearfix

:if user
  .gendiv

    %h1
      Edit Album

    %form{ method: "post", action: "/albums/edit" }
      %input{ type: "hidden", name: "album", value: album.name }/

      %p
        %label{ for: "title" }
          Album Title:
        %input{ type: "text", name: "title", id: "title", value: album.title }/

      %p
        %label{ for: "text" }
          Album Text:
        %textarea{ name: "text", id: "text" }
          = album.text

      %p
        %input{ type: "submit", value: "Save" }/


:if album.comments.length
  %ul.comments
    :each comment in album.comments
      %li
        :if user
          .button-box
            %a.edit{ href: '/comments/edit/' + comment.id, title: 'edit' }
              &nbsp;
            %a.delete{ href: '/comments/delete/' + comment.id, title: 'delete' }
              &nbsp;
            %a.flag{ href: '/comments/spam/' + comment.id, title: 'mark as spam' }
              &nbsp;
        .from
          = comment.from + ' (' + comment.dateCommented.split(' ').shift() + '): '
        .text
          = comment.text


:if settings.allowComments
  .gendiv

    %h1
      Add Comment

    %form{ method: "post", action: "/comments/add" }
      %input{ type: "hidden", name: "album", value: album.name }/

      %p
        %label{ for: "from" }
          From:
        %input{ type: "text", name: "from", id: "from" }/

      %p
        %label{ for: "text" }
          Comment:
        %textarea{ name: "text", id: "text" }

      %p
        %input{ type: "submit", value: "Post Comment" }/

