- if (user)
  .gendiv
    h1 Comment Administration
    p 
      | Show 
      a( href: "/comments" ) non-spam
      | comments only.

    p 
      | Show 
      a( href: "/comments/spam" ) spam
      | comments only.

ul.comments
  - each comment in comments
    li
      - if (user)
        .button-box
          a.edit( href: "/comments/edit/#{comment.id}" )
          a.delete( href: "/comments/delete/#{comment.id}" )
          - if (comment.spam)
            a.check( href: "/comments/ham/#{comment.id}" )
          - else
            a.flag( href: "/comments/spam/#{comment.id}" )

      a( href: comment.url )
        img( alt: comment.picture, src: comment.thumbnail, title: comment.picture )
      .from= comment.from + ' (' + comment.dateCommented.split(' ').shift() + '): '
      .text
        != parse(comment.text)
      .clearfix

