.pic

  :if picture.prev
    .prev
      %a{ href: picture.prev.url }
        %img{ alt: picture.prev.displayName, src: picture.prev.thumbnail, title: picture.prev.displayName }/

  :if picture.next
    %a{ href: picture.next.url }
      %img.img{ alt: picture.displayName, src: picture.src, title: picture.displayName }/
  :if !picture.next
    %img.img{ alt: picture.displayName, src: picture.src, title: picture.displayName }/

  :if picture.next
    .next
      %a{ href: picture.next.url }
        %img{ alt: picture.next.displayName, src: picture.next.thumbnail, title: picture.next.displayName }/
  %h1
    = picture.displayName 
    = ' (' + picture.dateTaken + ')'

  :if picture.text
    %p
      = parse(picture.text)

.clearfix


:if user
  .gendiv

    %h1
      Edit Picture

    %form{ method: "post", action: "/pictures/edit" }
      %input{ type: "hidden", name: "album", value: picture.album.name }/
      %input{ type: "hidden", name: "picture", value: picture.name }/

      %p
        %label{ for: "title" }
          Picture Title:
        %input{ type: "text", name: "title", id: "title", value: picture.title }/

      %p
        %label{ for: "text" }
          Picture Text:
        %textarea{ name: "text", id: "text" }
          = picture.text

      %p
        %label{ for: "submitpicture" }
        %input{ type: "submit", name: "submitpicture", id: "submitpicture", value: "Save" }/
        %input{ type: "submit", name: "move", id: "move", value: "Move Picture" }/
        %input{ type: "submit", name: "delete", id: "delete", value: "Delete Picture" }/


:if picture.comments.length
  %ul.comments
    :each comment in picture.comments
      %li
        .from
          = comment.from + ' (' + comment.dateCommented.split(' ').shift() + '): '
        .text
          = parse(comment.text)
        .clearfix


:if settings.allowComments
  .gendiv

    %h1
      Add Comment

    %form{ method: "post", action: "/comments/add" }
      %input{ type: "hidden", name: "album", value: picture.album.name }/
      %input{ type: "hidden", name: "picture", value: picture.name }/

      %p
        %label{ for: "from" }
          From:
        %input{ type: "text", name: "from", id: "from" }/

      %p
        %label{ for: "text" }
          Comment:
        %textarea{ name: "text", id: "text" }

      %p
        %label{ for: "submitcomment" }
        %input{ type: "submit", name: "submitcomment", id: "submitcomment", value: "Post Comment" }/

